<%- model_class = Post.new.class -%>

<% @posts.each do |post| %>
	<p>
		<h2><%= link_to post.title, post_path(post) %></h2>
	</p>
	<p>
		<b><%= "Posted on " + post.created_at.strftime("%a, %b %d %Y") %></b>
	</p>
	<p>
		<%= raw(truncate(post.content, :length => 250, :omission => "..." + link_to(" Read more", post_path(post)) ))%><br /><br />
		<%= "Tags: "%>
		<%= raw post.tags.map{|t| link_to t, tag_path(t.name)}.join(", ")%><br />
		<% if post.comments.count > 1 %>
			<%= link_to "#{post.comments.count} Comments", post_path(post)%>
		<% else %>
			<%= link_to "#{post.comments.count} Comment", post_path(post)%>
		<% end %>
	</p>
	<% if post != @posts.last%>
		<div class="hr"><hr></div>
	<% else %>
		<br />	
	<% end %>
<% end %>

<%= will_paginate @posts %>

<% if user_signed_in? %>
	<%= link_to " New Blog Post", new_post_path, :class=> "btn btn-primary icon-pencil"%>
<% end %>
