<!DOCTYPE html>
<html>
<head>
  <title>PersonalBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#"> Somewhere in the cloud</a>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="banner"></div>					
					<div class="subnav">
						<div class="nav nav-tabs">
							<li><%= link_to "About me" %></li>
							<%if Post.count > 0%>
								<li><%= link_to "Archive", posts_path %></li>
							<%end%>
					        <li><%= link_to "Blog", posts_detail_path%></li>
					        <li><%= link_to "Create Post", new_post_path%></li> 
						</div>
				</div>
				</div>
			</div>
			<div class="body">
				<div class="row">
					<div class="span8">
						<%=  yield %>
					</div>
				</div>
			</div>			
			<div class="blog-footer">			
					Copyright 2012. All Rights Reserved.
			</div>
		</div>		
</body>
</html>
